body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(95, 77, 67, 0.5)), to(rgba(95, 77, 67, 0.5))),
  url("https://res.cloudinary.com/iolarav/image/upload/v1567462458/bg-masthead_qiflxg.jpg") center no-repeat fixed;
  background-size: cover;
  
}

h1 { 
    text-align: center;
    color: #fff;
}

table {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4), 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

td.info { 
    text-align: left;
    border-top: 1px solid black;
}

td.role { text-align: center; }

div.contact, td.role { color: mediumvioletred; }

td:first-child,
th:first-child {
    padding-right: 40px;
}

div.top {
    padding: 15px 0;
}

img {
    width: 180px;
    height: 175px;
    border-radius: 50%;
    
 }

p, h2, h3 { margin: 0; }

p.more { margin-top: 15px; }

form {
    width: 600px;
    padding: 15px 0;
    margin-left: auto;
    margin-right: auto;
}
label {
    display: block;
    margin-bottom: 5px
}

input, textarea {
    background-color: transparent;
    border: 1px solid #a3a3a3;
}

textarea {
    width: 593px;
    resize: none;
}

input {
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}

.row { padding-bottom: 15px; }

.error {
    color: red;
    font-size: 90%;
}

input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    border: solid 2px mediumvioletred;
    color: mediumvioletred;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

input[type="submit"].active,
input[type="submit"]:hover {
    border-radius: 50px;
    background: mediumvioletred;
    border-color: #c71586e1;
    color: white;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}