h1 { text-align: center; }

table {
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4), 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

td.info { 
    text-align: left;
    border-top: 1px solid black;
}

td.role { text-align: center; }

div.contact, td.role { color: mediumvioletred; }

div.top {
    padding: 15px 0;
}

img {
    width: 180px;
    height: 175px;
    border-radius: 50%;
    margin-right: 10px;
 }

p, h2, h3 { margin: 0; }

p.more { margin-top: 15px; }